.reservation {
  display: Flex;
  justify-content: center;
  align-items: center;
}
.reservationin {
  height: 1200px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.reLink {
  width: 1000px;
  height: 60px;
  text-decoration: none;
}
.img {
  width: 500px; /* 이미지의 너비를 조절합니다. */
  height: 500px; /* 이미지의 높이를 조절합니다. */
  margin: 5px; /* 이미지 사이의 간격을 조절합니다. */
  object-fit: cover; /* 이미지가 자리를 차지하면서 비율을 유지하도록 합니다. */
}
.reLink a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.resene {
  display: flex;
  justify-content: space-between;
}
.rebu {
  height: 50px;
  background-color: rgb(236, 163, 4);
  color: white;
  border: 0;
  font-size: 18px;
}
.ppp {
  color: red;
}
.divdiv {
  font-weight: 600;
}
.divstar {
  font-size: 40px;
  color: rgb(212, 212, 27);
}
