.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maincomponent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
.component {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.componentdiv {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
}
.component1 {
  font-size: 18px;
  font-weight: 600;
}
.component2 {
  font-size: 14px;
  color: gray;
}
.component3 {
  color: red;
}
.component4 {
  font-size: 14px;
  color: gray;
}
.main div img {
  border-radius: 15px;
  height: 100px;
  margin-right: 20px;
  width: 100px;
}
.button {
  background-color: black;
  width: 75px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.bottom {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
.bottomcomp {
  height: 100px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: rgb(179, 179, 37);
  align-items: flex-end;
  justify-content: space-around;
}
.Itembottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.zzom {
  display: flex;

  width: 550px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
